.about {
    margin: 50px;
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 50px;
    
}

@media (max-width: 750px){
    .about {
        margin: 50px;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 50px;
        row-gap: 50px;
    }
}