body{
  background-color: #FFF0F5;
}
.App {
  font-family: 'New Tegomin', serif;
}
.footer {
  width: 100%;
  background-color: black;
  min-height: 200px;
}

.footer__container {
  font-size: 12px;
  color: white;
  padding: 20px 0px 50px 30px;
}

.ofert {
  max-width: 300px;
}